workspaces/controller_ws/install
workspaces/controller_ws/build
workspaces/controller_ws/log

workspaces/rpi_ws/install
workspaces/rpi_ws/build
workspaces/rpi_ws/log

workspaces/sim_ws/install
workspaces/sim_ws/build
workspaces/sim_ws/log
